@model PatientMgmtProject.Models.PatientModel

@{
    ViewBag.Title = "Details";
}
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocName)
        </th>
    </tr>

    <tr>
        <td>@Html.DisplayFor(model => model.PId)</td>
        <td>@Html.DisplayFor(model => model.PName)</td>
        <td>@Html.DisplayFor(model => model.Address)</td>
        <td>@Html.DisplayFor(model => model.Age)</td>
        <td>@Html.DisplayFor(model => model.DateTime)</td>
        <td>@Html.DisplayFor(model => model.SecName)</td>
        <td>@Html.DisplayFor(model => model.DocName)</td>
    </tr>

</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
