@model  PatientMgmtProject.Models.DoctorModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DocId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DayName)
        </th>
    </tr>

    <tr>
        <td>@Html.DisplayFor(model => model.DocId)</td>
        <td>@Html.DisplayFor(model => model.DocName)</td>
        <td>@Html.DisplayFor(model => model.SecName)</td>
        <td>@Html.DisplayFor(model => model.DayName)</td>
    </tr>

</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DocId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
