@model IEnumerable<PatientMgmtProject.Models.SectorInfoModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SecId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DayName)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SecId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DayName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SecId })
            </td>
        </tr>
    }
</table>
