@model IEnumerable<PatientMgmtProject.Models.SectorModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SecId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DayName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SecId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DayName)
            </td>

        </tr>
    }

</table>
